@tailwind base;
@tailwind components;
@tailwind utilities;




@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Poiret+One&display=swap');




.occasion {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.occasion__seating {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(25, 1fr);

  background-color: rgb(255, 255, 255);
  border: 10px solid var(--clr-grey);
  border-radius: 8px;

  width: 90%;
  max-width: 1200px;
  height: 85%;
  margin: 0 auto;
  padding: 20px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  overflow-x: scroll;
}

.occasion__seating h1 {
  grid-column: 1 / span 27;
  grid-row: 1;

  color: var(--clr-white);
  font-weight: 300;
}

.occasion__close {
  grid-column: 27 / span 1;
  grid-row: 1;

  width: 35px;
  height: 35px;

  background: rgba(255, 255, 255, 0.2);
  border: 1px solid var(--clr-grey);
  border-radius: 6px;

  cursor: pointer;

  transition: 250ms ease all;
}

.occasion__close:hover {
  background: rgba(255, 255, 255, 1);
  border: 1px solid var(--clr-white);
}

.occasion__close img {
  width: 25px;
  height: 25px;
}

.occasion__stage,
.occasion__spacer--1,
.occasion__spacer--2 {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--clr-grey);
  color: var(--clr-white);
}

.occasion__stage {
  grid-column: 1 / span 27;
  grid-row: 2;
  background-color: rgb(9, 3, 64);
  height: 150px;
  color: aliceblue;

  
  border-radius: 0 0 0 0;
}

.occasion__spacer--1,
.occasion__spacer--2 {
  min-width: 20px;
  height: inherit;

 
  writing-mode: vertical-lr;
}

.occasion__spacer--1 {
  grid-column: 6 / span 1;
  grid-row: 3 / span 10;

}

.occasion__spacer--2 {
  grid-column: 22 / span 1;
  grid-row: 3 / span 10;
 
}

.occasion__seats,
.occasion__seats--taken {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--clr-dark-blue);
  color: var(--clr-white);

  width: 35px;
  height: 35px;
  border: 1px solid black;
  border-radius: 50%;

  font-size: 0.9em;

  cursor: pointer;

  transition: 250ms ease all;
}

.occasion__seats:hover {
  background: var(--clr-white);
  color: var(--clr-black);

  font-size: 1em;
  font-weight: 700;
}

.occasion__seats--taken {
  background-color: rgb(53, 53, 253)
} 

